#Android generated
bin
gen
*.apk
*.ap_

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes

#Maven
#target
#release.properties
#pom.xml.*

#Command line
/local.properties
build.xml
proguard-project.txt

#Gradle
.gradle
/build
.DS_Store
gradle
gradlew
gradlew.bat
/captures